# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are: R and phyton.

#### Some of the commonly used libraries used by Data Scientists include: ggplot2 y plotly.


| tools |
|-------|
| numpy |
| Pandas |

### Below are a few examples of evaluating arithmetic expressions in Python

```python
result = 5 + 3
print(result)  # Output: 8

In [6]:
result = 5+3
print(result)

8

In [7]:
result= (3*4)+5
print(result)

# This a simple arithmetic expression to mutiply then add integers

17

In [8]:
hour=(200/60)
print(hour)

3.3333333333333335

#### This will convert 200 minutes to hours by diving by 60

### *Objetives*
#### List popular languages for Data Science

- R.
- Phyton.
- Apache.

## Author
Cristian Parra